<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render("shared/search_form")%>
    <nav>
      <%= link_to("Home", root_path)%>
      <%= link_to("Tweet Something!", new_tweet_path)%>
      <%= link_to("User", new_user_path)%>
    </nav>
    <%= yield %>
  </body>
</html>
